:root {
  --bg-1: #0f172a;
  --bg-2: #1e293b;
  --bg-3: #334155;
  --fg-1: #f8fafc;
  --fg-2: #e2e8f0;
  --fg-3: #94a3b8;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

body {
  color: var(--fg-2);
  background-color: var(--bg-1);
}
